#container1 {
    padding: 15px;
    background: darkcyan;
    background-clip: border-box;  
  }

  #container2 {
    padding: 15px;
    background: lightgray;
    background-clip: border-box;  
  }

h1 {
    text-align: center;
}

body{
    font-family: "Verdana", sans-serif;
}